body{
  font-family: 'Nunito';
  background-color: whitesmoke;
}
.topnav {
  background-color: rgb(155, 152, 152);
}

.to-do-list{
  margin-top: 5px;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 1px solid rgb(214, 208, 208);
  box-shadow:
      0 1px 1px rgba(0,0,0,0.15),
      0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0,0,0,0.15),
      0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}
label{
  font-family: 'Nunito';
}
.counter-head{
  color: red;
  text-decoration: underline;
}
.image{

  width: 100px;
    height: 100px;
}
.btn{
  border: 1px solid gray;
  background-color: transparent;
}
.btn-sm{
  color: white;
  background-color: black;
}
form{
  max-width: 300px;
  padding: 10px 20px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
}
ol{
  list-style-type: circle;
}